#global {
    margin-top: 0;
}

.cards .card h1 a:is(:hover, :focus) {
    text-decoration: revert;
}

.cards .card .github {
    right: 0;

}

.cards .card .github:where(:not(:hover)) {
    opacity: 0.2;
}

.cards .card .gallery {
    justify-content: flex-start;
}

.cards .card .gallery article {
    flex: 0 1 auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}


html:has(#show-pages:not(:checked)) .cards .card .pages {
    display: none;
}

@media (max-width: 35.25em) {
    label[for="show-pages"] span {
        display: none;
    }

    label[for="show-pages"]::after {
        content: "🕮";
    }
}

.cards .card .pages {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.cards .card .pages .page {
    margin-top: 0.5em;
}

.cards .card .pages .page .page {
    margin-left: 2em;
}

.cards .card .pages .page.subdomain > h1::before {
    content: "[";
}

.cards .card .pages .page.subdomain > h1::after {
    content: "]";
}

.cards .card .pages details {
    margin-top: 0.5em;
}

.cards .card .pages :is(h1, summary) {
    font-size: large;
}

.cards .card .pages summary {
    margin-left: 2em;
    font-style: italic;
}

.cards .card .pages .pokehidden-images summary {
    margin-left: 0;
}

.cards .card .pages .page summary + article {
    margin-top: 0.25em;
}

.cards .card .pages:is(.empty, .single) {
    font-style: italic;
}

.cards .card .pages .pokehidden-images > h1 {
    display: inline;
}

.cards .card .pages .pokehidden-images details {
    text-align: center;
    margin-top: -1.3em;
}

.cards .card .pages .nsfw-sfw {
    display: flex;
    flex-flow: row wrap;
    margin-top: -0.1em;
}

.cards .card .hoisted.eighteen-plus {
    right: 0;
    color: red;
    opacity: revert;
}


main .github > a {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

main .github > a::before {
    content: "";
    flex: none;
    position: relative;
    width: 1em;
    background-image: url("https://global.hexstream.dev/non-free/images/logos/github.svg");
}

main .github > a::after {
    content: "​"; /* Zero width space */
}

main .github > a > span {
    display: none;
}


br.advisory {
    display: none;
}

@media (max-width: 35.25em) {
    .cards .card > h1 {
        font-size: 5.4vw;
    }

    br.advisory {
        display: revert;
    }
}

@media (max-width: 27.5em) {
    .cards .card > h1 {
        font-size: x-large;
    }
}

#tarballs\.hexstreamsoft\.com {
    min-width: 11.75em;
}


main .navtable {
    margin-left: 0;
    margin-right: 0;
    font-size: medium;
}

#summary {
    margin-bottom: 0;
}

#summary > .scroll {
    margin-left: calc(-1 * var(--main_padding-left));
    margin-right: calc(-1 * var(--main_padding-right));
    margin-bottom: 0;
}

#summary table {
    margin-bottom: 2.5em;
}

main {
    margin-bottom: 0.65em;
}

#summary table tbody:not(:first-of-type) {
    border-top: solid 0.15em gray;
}

#summary table th.domain {
    text-align: end;
}

#summary table th.domain a {
    color: inherit;
}

#summary table .ghost {
    vertical-align: middle;
    text-align: center;
    white-space: normal;
}

#summary table .ghost > a {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1.4em;
    transform: rotate(-90deg);
}
