main section p, main section pre, main section > * > li {
    overflow-x: initial;
}


main section > ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    margin-top: 1em;
}

main section > ul > li + li {
    margin-top: 0;
}

main article {
    position: relative;
    background: #ECECEC;
    border: thin solid gray;
    padding: 0.3em 0.5em 0;
    margin: 2em 1em 1em;
}

main article h1 {
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: -0.2rem;
}

main article .domain-name {
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.2em;
    opacity: 0.6;
}

br.advisory {
    display: none;
}

@media (max-width: 35.25em) {
    main article h1 {
        font-size: 5.4vw;
    }

    br.advisory {
        display: initial;
    }
}

@media (max-width: 27.5em) {
    main article h1 {
        font-size: x-large;
    }
}

main article p {
    line-height: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.emoji {
    white-space: nowrap;
}
