br.advisory {
    display: none;
}

@media (max-width: 35.25em) {
    .cards .card h1 {
        font-size: 5.4vw;
    }

    br.advisory {
        display: initial;
    }
}

@media (max-width: 27.5em) {
    .cards .card h1 {
        font-size: x-large;
    }
}
