html {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    min-height: 100%;
    height: revert;
    line-height: normal;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1 0;
    overflow-x: hidden;
}

body > * {
    flex: none;
}

main {
    margin: auto 0;
}

main section p,
main section > * > li {
    overflow-x: revert;
}

#page-header {
    margin: 0;
}

#page-header h1 {
    font-size: 8vw;
}

#page-header .description {
    display: none;
    text-align: center;
}

@media (min-width: 23.75em) {

    #page-header .description {
        display: block;
        margin-top: 0;
        margin-bottom: 0.5em;
        opacity: 0.2;
    }

}

@media (min-width: 30em) {
    /* The page title can afford to be smaller while still being legible. */
    #page-header h1 {
        font-size: 6vw;
    }
}

#top-nav {
    justify-content: center;
}

#top-nav > .main {
    flex: none;
}

#top-nav + main {
    margin-top: auto;
}

#last-updated {
    position: relative;
    align-items: center;
    order: 1;
    margin: 0.5em 0;
    white-space: nowrap;
    z-index: 3;
}

#last-updated:where(:not(:hover)) {
    opacity: 0.4;
}

#last-updated::after {
    top: revert;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    order: -1;
}

section {
    padding: 0;
    margin: 0;
}

#realms {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: stretch;
}

#realms > a + a {
    margin-top: 1.25vw;
}

#realms #HexstreamSoft {
    font-size: 2.5vw;
    padding-top: 0.4em;
}

#realms #HexstreamSoft .description {
    font-size: 2.3em;
    margin-top: -0.25em;
}

@media (min-width: 30em) {
    /* The font size is big enough that we can make the HexstreamSoft description smaller while still being legible.
       (It is desirable for the description to be smaller than the title, since we can afford it.) */
    #realms #HexstreamSoft .description {
        font-size: 1.65em;
        margin-top: -0.5em;
    }

}

#realms #Hexstream-Entertainment {
    font-size: 1.25vw;
}

#realms #Hexstream-Entertainment .description {
    font-size: 3em;
}

#realms .cornerable {
    font-size: 0.75vw;
    white-space: nowrap;
}

#realms #all {
    color: transparent;
    background-image: url("images/globe.svg");
    background-origin: content-box;
    background-color: transparent;
}

#realms #all:where(:not(:is(:hover, :focus))) {
    opacity: 0.5;
}

#realms #all:is(:hover, :focus) {
    background-color: #FFDD99;
}

#realms > a {
    padding: 1em 2em;
    border: medium solid black;
    border-radius: 5vw;
    text-align: center;
    text-decoration: none;
    background-color: #FFCC99;
}

#realms a:is(:hover, :focus) {
    background-color: #FFDD99;
    outline-style: none;
}

#realms > a h1 {
    font-family: "Kaushan Script", serif;
    font-size: 4em;
    letter-spacing: 0.15em;
    margin-top: 0;
}

#realms > a .description {
    font-family: "Kaushan Script", serif;
    margin: 0em auto;
}


#account-links {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 1.25vw 0 0;
    z-index: 4;
}

#account-links ul {
    display: flex;
    flex-flow: row;
    flex: none;
}

#account-links ul:where(:not(:hover)) {
    opacity: 0.5;
}

#account-links ul li {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#account-links .account-link {
    display: block;
    width: 11vw;
    height: 11vw;
    padding: 2.35vw;
    border: medium solid transparent;
    border-radius: 1rem;
    text-indent: -1000em;
    background-origin: content-box;
}

#account-links #twitter-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/twitter-locked.svg");
}

#account-links #github-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/github.svg");
}

#account-links #linkedin-link {
    background-image: url("https://workshop.hexstream.xyz/svg/remakes/linkedin.svg");
}

#account-links #discord-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/discord.svg");
    background-size: 111%;
    background-position: 50% -10%;
}

#account-links .account-link:hover {
    background-color: #ECE0A5;
    border-color: revert;
}

#account-links .account-name {
    display: none;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 100%;
    width: 100%;
    font-size: 2.5vw;
    background-color: transparent;
    margin-top: 0.25em;
}

#account-links .account-link:hover + .account-name,
#account-links ul li:target .account-name {
    display: flex;
}

#account-links ul li:target .ok {
    display: block;
}

#account-links .ok {
    display: none;
    margin-top: 0.25em;
    font-size: smaller;
    border: thin solid black;
    padding: 0.1em 0.2em;
    color: black;
    text-decoration: none;
}

#account-links .ok:hover {
    background-color: #ECE0A5;
}

@media (max-width: 16em) {
    /* Get desperate about a legible page title. Increase font size and break it into 2 lines. */
    #page-header h1 {
        font-size: 16vw;
        line-height: 1.2em;
    }

    /* To ensure legibility, use almost the full width for "HexstreamSoft",
       and make the HexstreamSoft description bigger (use 2 lines for it). */
    #realms > a h1 {
        font-size: 4.5em;
    }

    #realms #HexstreamSoft {
        padding-left: 0;
        padding-right: 0;
    }

    #realms #HexstreamSoft .description {
        font-size: 3.5em;
        margin-top: 0.3em;
        line-height: 1.1;
        margin-bottom: 0.25em;
    }

    #realms #Hexstream-Entertainment {
        font-size: 2vw;
        max-width: min-content;
    }

    #realms #Hexstream-Entertainment h1 {
        line-height: 1.2;
    }

    #realms .cornerable {
        font-size: 1.2vw;
    }

    #account-links .account-link {
        width: 20vw;
        height: 20vw;
    }

}

@media (max-width: 10em) {
    /* Making the description legible requires desperate measures. */
    #realms #HexstreamSoft .description {
        font-size: 4.5em;
        margin-top: 0.4em;
    }

    #last-updated {
        font-size: 11vw;
    }

    #last-updated::after {
        font-size: 9vw;
    }
}

@media (max-aspect-ratio: 4/3) {
    /* We've got enough vertical space, so add some margins. */
    #realms {
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    #realms > a + a {
        margin-top: 1.5vh;
    }

}

@media (min-width: 35em) and (min-aspect-ratio: 16/10) and (max-aspect-ratio: 70/27) {
    /* We have a ton of horizontal space, but not much vertical space, so size things according to available height instead of width.
       Do not activate this mode if the height is insufficient and the text would thus be rendered illegible. */
    #page-header h1 {
        font-size: 9vh;
    }

    #page-header .description {
        position: absolute;
        left: 1.75vh;
        top: 1.4rem;
        bottom: 7.7vh;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-bottom: 0;
        margin-left: 0.75rem;
        font-size: 4.5vh;
        z-index: 5;
    }

    #realms > a {
        border-radius: 7.5vh;
    }

    #realms #HexstreamSoft {
        font-size: 3.75vh;
    }

    #realms #Hexstream-Entertainment {
        font-size: 1.875vh;
    }

    #realms .cornerable {
        position: fixed;
        bottom: 0;
        font-size: 0.95vh;
        margin-bottom: 1.5vh;
        z-index: 5;
    }

    #realms .cornerable:where(:not(:hover)) {
        opacity: 0.5;
    }

    #realms #Hexstream-Misc {
        right: 0;
        margin-right: 1.5vh;
    }

    #realms #all {
        left: 0;
        margin-left: 1.5vh;
    }

    #account-links .account-link {
        width: 16.5vh;
        height: 16.5vh;
        padding: 3.525vh;
    }

    #account-links .account-name {
        flex-flow: row;
        top: revert;
        left: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.5em;
    }

    #account-links .ok {
        margin-top: 0;
        margin-left: 0.5em;
    }

    #top-nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    #last-updated {
        position: absolute;
        top: 0;
        right: 0;
        align-items: flex-end;
        margin-right: 0.5em;
    }

    #last-updated::after {
        top: 100%;
        bottom: revert;
        justify-content: flex-end;
        order: revert;
    }

}

@media (max-width: 6em) {
    /* We can't even display "HexstreamSoft" legibly using the full width, so give up. */
    html {
        background-color: black;
        background-image: url("https://global.hexstream.dev/css/images/owl-of-disapproval.png");
    }

    #top-nav, main, #last-updated {
        display: none;
    }

    body::after {
        content: "Y U NO WIDER??";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 20vw;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        color: red;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: black;
    }

}
